*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #252525;
    color: #fff;
}
.primary-bg-color{
    background-color: #252525;

}
.secondary-bg-color{
    background-color: #C09578;

}
.light-bg-color{
    background-color: #FCF5EB;
}
.dack-bg-color{
    background-color: #101010;
}
.primary-color{
    color: #C09578;
}
.secondary-color{
    color: #626262;
}
.light-color{
    color: #c09578;
}
/* Navbar */
#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
}
#navbar .navbar-nav li{
    margin-left: 1em;
}
#navbar  a, #navbar button{
    color: #fff;
}
#navbar li{
    position: relative;
}
#navbar i{
    font-size: 20px;
}
#navbar span{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #Ef3636;
    text-align: center;
}
#bag-item span{
    left: 20px;
}
.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .navbar-brand{
        text-align: left;
    }
}
#navbar-items{
    justify-content: space-between;
}
@media (min-width: 768px) {
    #navbar-items{
        min-width: 80%;
        display: flex;
    }
}
#search-form{
    width: 100%;
    margin: 2em 0;
}
@media (min-width: 768px) {
    #search-form{
        width: 50%;
        margin: 0;
    }
}

#search-form{
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
}
#search-form input{
    background-color: transparent;
    border: none;
    color: #fff;
}
#search-form input:focus{
    box-shadow: none;
}
#search-form input::placeholder{
    color: #FFF;
}

/* Bottom NavBar */
#bottom-navbar-container .container{
    justify-content: flex-end;

}
#bottom-navbar-container a{
    font-weight: 600;
    color: #FFF;
}
.navbar-toggle{
    font-size: 1.5em;
}
#banners-container{
    padding: 0;

}
.carousel-caption{
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
}
.carousel-caption h5{
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    #slider .carousel-item,
    #slider img{
        height: 600px;

    }
    .carousel-caption{
        left: 23%;
        right: 23%;
    }
    .carousel-caption h5{
        font-size: 4em;
    }

}
#mini-banners{
    
    margin-top: 1em;
    z-index: 10;
}
#mini-banners .col-12{
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media(min-width:768px){
    #mini-banners .col-12{
        max-width: 30%;

    }
}
#mini-banners .col-12 h2{
    text-transform: uppercase;
    max-width: 50px;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1em;
}
#mini-banners .col-12 img{
    height: 220px;
    position: absolute;
    right: 1em;
    bottom: 1em;

}
#mini-banners .col-12 a{
    font-weight: bold;
    color: #FFF;
    font-size: .8em;
    transition: 0.5s;
}
#mini-banners .col-12 a:hover{
    color: #101010;

}
#mini-banners #mini-banners-1 a:hover,
#mini-banners #mini-banners-3 a:hover{
    color: #c09578;
    
}
#mini-banners #mini-banners-3 a{
    color: #101010;
    
}
/* BEST SELLERS */
#best-sellers{
    padding: 4em 0;

}
#best-sellers .row{
    margin: 0;
}
#best-sellers .col-md-3{
    padding: 0;
}
.title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}
@media(min-width: 768px) {
    .title{
        text-align: center;
    }
}
.card{
    text-align: center;
    border-radius: 0;
}
.card img{
    width: 140px;
    margin: 2em auto;
}
.card .card-category{
    font-size: .8em;
}
.card .card-text{
    margin: 2em 0;
    font-weight: bold;
}
.btn{
    background-color: transparent;
    border-color: #c09578;
}
.btn:hover{
   
    background-color: #c09578;
    border-color: #c09578;
}
/* Banner destaque */
#bottom-banner{
    
}